.icon{ background:url("icon.png") top left no-repeat; }
.美食网页移动端-1_r6_c15{ width:74px; height:74px; background-position:-10px -10px; }
.美食网页移动端-1_r6_c9{ width:74px; height:74px; background-position:-10px -94px; }
.美食网页移动端-1_r6_c4{ width:74px; height:74px; background-position:-10px -178px; }
.美食网页移动端-1_r4_c15{ width:74px; height:74px; background-position:-10px -262px; }
.美食网页移动端-1_r4_c9{ width:74px; height:74px; background-position:-10px -346px; }
.美食网页移动端-1_r4_c4{ width:74px; height:74px; background-position:-10px -430px; }
.美食网页移动端-1_r8_c3{ width:71px; height:71px; background-position:-10px -514px; }
.美食网页移动端-1_r10_c3{ width:71px; height:71px; background-position:-10px -595px; }
.美食网页移动端-1_r19_c10{ width:43px; height:35px; background-position:-10px -676px; }
.美食网页移动端-1_r12_c10{ width:43px; height:35px; background-position:-10px -721px; }
.美食网页移动端-1_r20_c13{ width:27px; height:34px; background-position:-63px -676px; }
.美食网页移动端-1_r19_c2{ width:39px; height:34px; background-position:-10px -766px; }
.美食网页移动端-1_r13_c13{ width:27px; height:34px; background-position:-63px -721px; }
.美食网页移动端-1_r12_c2{ width:39px; height:34px; background-position:-10px -810px; }
.美食网页移动端-1_r19_c7{ width:45px; height:33px; background-position:-10px -854px; }
.美食网页移动端-1_r12_c7{ width:45px; height:33px; background-position:-10px -897px; }
.美食网页移动端-1_r2_c16{ width:86px; height:14px; background-position:-10px -940px; }
.美食网页移动端-1_r21_c17{ width:39px; height:11px; background-position:-10px -964px; }
.美食网页移动端-1_r14_c17{ width:39px; height:11px; background-position:-10px -985px; }

