.icon2{ background:url("icon2.png") top left no-repeat; }
.美食网页移动端-1_r2_c10{ width:43px; height:43px; background-position:-10px -10px; }
.美食网页移动端-1_r2_c8{ width:43px; height:43px; background-position:-10px -63px; }
.美食网页移动端-1_r2_c6{ width:43px; height:43px; background-position:-10px -116px; }
.美食网页移动端-1_r2_c4{ width:43px; height:43px; background-position:-10px -169px; }
.美食网页移动端-1_r2_c2{ width:43px; height:43px; background-position:-10px -222px; }
.美食网页移动端-1_r4_c10{ width:43px; height:43px; background-position:-10px -275px; }
.美食网页移动端-1_r4_c8{ width:43px; height:43px; background-position:-10px -328px; }
.美食网页移动端-1_r4_c6{ width:43px; height:43px; background-position:-10px -381px; }
.美食网页移动端-1_r4_c4{ width:43px; height:43px; background-position:-10px -434px; }
.美食网页移动端-1_r4_c2{ width:43px; height:43px; background-position:-10px -487px; }

